.doc-item-wrap{
  // position: absolute;
  // left: 0px;
  // top: 0px;
  height: 32px;
  width: 100%;
}

.doc-item{
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  line-height: 32px;
  padding-left: 0px;
  background-color:transparent;
  pointer-events: auto;
  transition: background 0.2s ease-in-out 0s;
  user-select: none;
}

.doc-item.doc-item:hover:before {
  position: absolute;
  left: 8px;
  width: calc(100% - 16px);
  height: 100%;
  border: none;
  background-color:#e9e9eb;
  border-radius: 4px;
  content: "";
  cursor: pointer;
  pointer-events: none;
}

.doc-item-selected {
  position: absolute;
  left: 8px;
  width: calc(100% - 16px);
  height: 100%;
  border: none;
  background-color:transparent;
  border-radius: 4px;
  content: "";
  cursor: pointer;
  // pointer-events: none;
}

.item-row{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px; // 40px;
  overflow: hidden;
  min-width: 0;
  height: 32px;
  flex-grow: 1;
  background-color: transparent;
  line-height: 32px;
  transition: background 0.2s ease-in-out 0s;
  user-select: none;
}

.item-row-icon{
  margin-right:10px;
}

.doc-title {
  color: #49494e;
  font-size: 14px;
  overflow: hidden;
  min-width: 0px;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.doc-delete{
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20px;
  box-sizing: border-box;
  padding: 4px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: #1d1d1f;
  cursor: pointer;
  outline: none;
  margin-right: 6px;
  margin-left: auto;
  z-index: 10;
  // display: none;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, box-shadow 0.2s ease 0s, border 0.2s ease 0s;
}

.doc-delete:hover{
  background-color: #ccc;
}

.doc-delete:active{
  background-color: #eee;
}